@font-face {
    font-family: LemonMilk;
    src: url(../fonts/LemonMilk.otf);
}

@font-face {
	font-family: CodeLight;
	src: url(../fonts/CODELight.otf);
}

@font-face {
	font-family: CodeBold;
	src: url(../fonts/CODEBold.otf);
}