$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

@import "fonts.scss";
@import "palette.sass";
@import "menu.scss";
@import "modules/portfolio.scss";
@import "modules/cv.scss";
@import "modules/contact.scss";
@import "modules/me.scss";

//Set bootstrap variables from palette
$text-color: $primary-color-text;
$link-color: $secondary-text-color;

// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/fullpage.js/jquery.fullPage.scss";
// endbower
 

.section {
	background-color:$primary-color-dark;
	
	@media (max-width: 992px) {
    	padding-left:40px;
		padding-right:40px;
	} 
	
	.container-colored {
		//background-color: $primary-color;
		border-radius: 5px;
		padding:30px;
        
        min-height: 500px;
	}
}

.section:last-child {
	background-color: darken($primary-color-dark, 20%);
	
	.container {
		padding:5px;	
	}
}

#section1 {
	background-color: lighten($primary-color-dark, 10%);
}

.section-topic {
	font-family:CodeLight;
	color:$divider-color;
	text-transform: uppercase;
	padding-bottom: 30px;
	text-align: center;
    font-size:5em;
}