#contact-container {
	.social-icons {
		img {
			max-width: 30px;	
			max-height: 30px;
		}
		
		float:right;
	}
	
	span {
		float:left;
	}
	
	@media (max-width: 407px) {
		h1 {
			font-size:2em;	
		}
		
		span {
			float:none;
		}
		
		.social-icons {
			margin-top:4px;
			float:none;	
		}
	} 
}
